# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vite
vite.config.js.timestamp-*
vite.config.timestamp-*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
